<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/CreateAccount" method="post">
        <label>Nom d'utilisateur :</label>
        <input type="text" name="username" required /><br/>

        <label>Email :</label>
        <input type="email" name="email" required /><br/>

        <label>Mot de passe :</label>
        <input type="password" name="password" required /><br/>

        <label>Confirmer le mot de passe :</label>
        <input type="password" name="passwordConfirm" required /><br/>
        <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>


        <button type="submit">Créer un compte</button>
    </form>
</body>
</html>
