<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magallerie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/javascript/javascript.js}"></script>
</head>
<body>

        <nav>
        <div class="burger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu" id="menu">
            <li><a th:href="@{/}">Accueil</a></li>
            <li><a th:href="@{/MaGallerie}">Galerie</a></li>
        </ul>
    </nav>

        <div class="containerMain">
            <h1>Bienvenue sur ma page Spring Boot !</h1>
            <h3 th:text="${message}">Message par défaut</h3>
            <h1>Ma Gallerie</h1>
        <div class="containerImages"></div>
    <img th:src="@{/Pictures/télécharger.jpg}" alt="Gallerie">

<hr>
    <div class="containerButton">
    <a th:href="@{/}">

        <button>
        <div>
            <span>
            <p>Retour vers l'accueil</p>
            </span>
        </div>
        <div>
            <span>
            <p>C'est parti</p><p>:D</p>
            </span>
        </div>
        </button>

</body>
</html>
